<!-- <header>
  <div class="container">
    <a routerLink="/" class="logo">CoolApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/list" routerLinkActive="active">List</a></li>
      </ul>
    </nav>
  </div>
</header> -->
<mat-toolbar color="primary" class="navbar">
  <div>Wastime</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Service</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <!-- over,push <- mode value -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="log('opened')" (closed)="log('closed')">Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggle Open</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="container"> -->
<router-outlet></router-outlet>
<!-- </div> -->