<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Add Disabilitas</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="disabilitasForm" (ngSubmit)="submitDisabilitasForm()" #resetDisabilitasForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Disabilitas name" formControlName="kategori">
            <mat-error *ngIf="handleError('kategori', 'required')">
              You must provide a<strong>disabilitas name</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Submit</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>