<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Disabilitas List</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <p *ngIf="DisabilitasData.length <= 0" class="no-data">There is no disabilitas added yet!</p>
  
  <div class="container" *ngIf="DisabilitasData.length > 0">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Disabilitas ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="kategori">
          <th mat-header-cell *matHeaderCellDef> Kategori </th>
          <td mat-cell *matCellDef="let element"> {{element.kategori}} </td>
        </ng-container>
  
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Created At </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-raised-button color="primary" class="push-right"
              [routerLink]="['/edit-disabilitas/', element]">Edit</button>
            <button mat-raised-button color="accent" (click)="deleteDisabilitas(i, element)">Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>